%p "A quotation is a handy thing to have about, saving one the trouble of thinking for oneself, always a laborioius business." - A.A. Milne
%p Catalogue all of your favorite quotes on OneLinr.
- if user_signed_in?
  View all of the
  = link_to 'quotes.', quotes_path